<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.4.0/dist/instantsearch.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.33.0/dist/algoliasearchLite.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css">

<script>
    /* const search = instantsearch({
      appId: '{{ site.algolia.application_id }}',
      apiKey: '{{ site.algolia.search_only_api_key }}',
      indexName: '{{ site.algolia.index_name }}'
    }); */

    const searchClient = algoliasearch(
        '{{ site.algolia.application_id }}',
        '{{ site.algolia.search_only_api_key }}'
        );

    const search = instantsearch({
        indexName: '{{ site.algolia.index_name }}',
        searchClient,
    });

    const hitTemplate = function (hit) {
        let date = '';
        if (hit.date) {
            date = moment.unix(hit.date).format('MMM D, YYYY');
        }
        let url = `{{ site.baseurl }}${hit.url}`;
        let image = `{{ site.baseurl }}${hit.image}`;
        const title = hit.title;
        const content = hit.content;

        return `
  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="${image}" />
    </div>
    <div class="contents-right">
      <h3>${title}</h3>
      <p>${content}</p>
      <a class="project-link" href="${url}">Check it out</a>
    </div>
  </div>
  `;

    }

    search.addWidgets([
        instantsearch.widgets.searchBox({
            container: '#search-searchbar',
            placeholder: 'Search into posts...',
            autofocus: true,
            searchAsYouType: true,
            showReset: true,
            showSubmit: false,
            showLoadingIndicator: false,
        }),

        instantsearch.widgets.hits({
            container: '#search-hits',
            templates: {
                item(hit) {
                    return `
                    <div class="user-projects">
                    <div class="images-left">
                    <img alt="mountains" src="${hit.image}" />
                    </div>
                    <div class="contents-right">
                    <h3>${hit.title}</h3>
                    <p>${hit.content}</p>
                    <a class="project-link" href="${hit.url}">Check it out</a>
                    </div>
                    </div>
      `;
                },
            },
        }),

        instantsearch.widgets.refinementList({
            container: '#refinement-list',
            attribute: 'tags',
            templates: {
            item: `
                <a href="{{url}}" class="tags-link">
                {{label}}<div class="tags-number">({{count}})</div>
                </a>
                `,
  },
        })
    ]);

    search.start();

</script>

<style>
    .ais-search-box {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .ais-Highlight {
        color: #111;
        background: #ff00ae;
        font-style: normal;
    }

    .ais- {
        font-size: inherit;
    }

    .ais-Hits {
        font-size: inherit;
        color: inherit;
    }

    .ais-Hits-item {
        border: 0px;
        box-shadow: none;
        width: 100%;
    }

</style>