<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  <script src="{{ "/assets/js/jquery-3.3.1.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/advanced-progress-tracker.min.js" | prepend: site.baseurl }}"></script>
  <script>
      $('body').progressTracker({
          horStops: false,
          horTitles: true,
          horMobileOnly: true,
          verTracker: true,
          verPosition: 'left',
          trackAllHeadlines: true,
          addFinalStop: false,
          finalStopTitle: 'Credits, Questions & Feedback',
          scrollSpeed: 1200
      });
  </script>
</head>
