@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Cabin:600');

body {
    margin: 0;
    padding: 0;
    font-size: 87.25%;
    line-height: 1.25;
    color: #555;
    font-family: 'Rubik', sans-serif;
}
article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}
h1, h2, h3, h4 stong {
    margin-top: 0.5em;
    padding-top: 0.5em;
    line-height: 1.125;
    color: #333;
}

.invert {
    h2 {
    font-size: 2.625rem;
    margin-top: 0px;
    padding-top: 0px;
    line-height: 1.125;
    color: #fff;
}

    h1, h3, h4 stong {
    margin-top: 0px;
    padding-top: 0px;
    line-height: 1.125;
    color: #fff;
}
}

h5, h6 {
    margin-top: 0em;
    padding-top: 0.125em;
    line-height: 0.75;
    color: #333;
}
h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.625rem;
}
h3 {
    font-size: 1.375rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.875rem;
}
h6 {
    font-size: 0.750rem;
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}
p, figure {
    margin: 0.75em 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}