@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    margin: 0;
    padding: 0;
    font-size: 87.25%;
    line-height: 1.25;
    color: #555;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    // font-family: 'Muli', sans-serif;
    // font-family: 'Nanum Gothic', sans-serif;
    // font-family: 'Dosis', sans-serif;
    // font-family: 'Rubik', sans-serif;
    // font-family: 'Quicksand', sans-serif;
    // font-family: 'Abel', sans-serif;
}
article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}
h1, h2, h3, h4, stong {
    margin-top: 0.5em;
    padding-top: 0.5em;
    line-height: 1.25;
    color: #333;
}
h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.625rem;
}
h3 {
    font-size: 1.375rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.875rem;
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}
p, figure {
    margin: 0.75em 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}