#cookie-notice {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: $main;
  color: rgba(255,255,255,0.8);
}

#cookie-notice a {
  margin-left: 4px;
  position: relative;
}

#cookie-notice p {
  margin: 0.75em 0;
}

#cookie-notice span {
  display: block;
  // padding-top: 20px;
  //margin-bottom: 13px;
}

@media only screen and (min-width: $cut) {
  #cookie-notice a {
    cursor: pointer;
  }
}


.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}