.icon-agile {
  background-image: url(/assets/img/icon-agile.png);
  background-repeat: no-repeat;
  background-size: 60px 60px;
  width:60px;
  height:60px;
  border:none;
  padding:0px;
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
  }
}