#posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  min-height: 900px;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #8d8d8d;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
  img {
    border: none;
    width: 100%;
    height: auto;
    max-width: 600px;
}
}