#posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  min-height: 900px;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #8d8d8d;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
  img {
    border: none;
    width: auto;
    height: auto;
    min-height: 120px;
    max-width: 350px;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    // max-width: 550px;
  }
}