#top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 120px;
  margin: 0 auto;
  color: black;
}

.logo-small {
  width: 80px;
  height: 80px;
  background: {
      image: url(img/logo.png);
      repeat: no-repeat;
      size: 80px 80px;
  }
  background-color: transparent;
}