<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include navigation.html %}

<body>

  <section id="posts">
    <h2>{{page.title}}</h2>
    <h5>{{page.date}}</h5>
    <!-- This loops through the paginated posts -->
    <div id="WS-SL--content">
        <section id="anchor-1"></section>
        <section id="anchor-2"></section>
        <section id="anchor-3"></section>
        <section id="anchor-4"></section>
      </div>
    {{content}}
    {% include comments.html %}
  </section>
  {% include scroll.html %}
  {% include footer.html %}

</body>